# {{ ansible_managed | comment }}

# See http://www.debian.org/releases/stable/i386/release-notes/ch-upgrading.html
# for how to upgrade to newer versions of the distribution.
deb {{ apt_update_source_list_mirror.debian }} {{ ansible_distribution_release }} main contrib non-free
deb-src {{ apt_update_source_list_mirror.debian }} {{ ansible_distribution_release }} main contrib non-free

# # Major bug fix updates produced after the final release of the
# # distribution.

# Security
deb http://security.debian.org/ {{ ansible_distribution_release }}/updates main contrib non-free
deb-src http://security.debian.org/ {{ ansible_distribution_release }}/updates main contrib non-free

# Updates
{% if "archive.debian.org" not in apt_update_source_list_mirror.debian %}{# archive.debian for obsolete ansible_distribution_release do not have updates available #}
deb {{ apt_update_source_list_mirror.debian }} {{ ansible_distribution_release }}-updates main contrib non-free
deb-src {{ apt_update_source_list_mirror.debian }} {{ ansible_distribution_release }}-updates main contrib non-free
{% endif %}

{% if apt_debian_backports| bool %}
# backports
deb {{ apt_update_source_list_mirror.debian }} {{ ansible_distribution_release }}-backports main contrib non-free
deb-src {{ apt_update_source_list_mirror.debian }} {{ ansible_distribution_release }}-backports main contrib non-free
{% endif %}
